<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

        <bean id="quoteMarket"  class="com.barcap.simulator.markets.QuoteMarketImpl">
            <property name="threadService" ref="threadService"/>
        </bean>

        <bean id="quoteMarketJmx"  class="com.barcap.simulator.markets.QuoteMarketJmx">
            <property name="quoteMarket" ref="quoteMarket"/>
        </bean>


</beans>
